@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100vh;
    background: #ecf0f3;
    display: grid;
    place-items: center;
    font-family: 'Ubuntu', sans-serif;
}
.from_bx{
    width: 350px;
    height: 500px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    border-radius: 15px;
    padding: 40px 30px 30px 30px;
    transition: all .4s linear;
}
.from_bx .logo{
    width: 80px;
    margin: auto;
    /* margin-top: 0; */
}
.from_bx .logo img{
    width: 100%;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff;
}
.from_bx .name{
    font-weight: 600;
    color: #555;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    margin: 20px 0px 30px 0px;
    text-align: center;
}
.from_bx .input1{
    padding: 5px 10px;
    box-shadow: inset 8px 8px 8px #cbc0d1, inset -8px -8px 8px #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.from_bx .input1 input{
    width: 80%;
    margin-left: 10px;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}
.from_bx .input1 .bi{
    font-size: 20px;
    color: #555555;
}
.from_bx button{
    width: 100%;
    height: 40px;
    padding: 10px 0px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #03a9f4;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1.3px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    transition: .3s ease-in-out;
    font-family: 'Ubuntu', sans-serif;
}
.from_bx button:hover{
    background: #019be5;
}
.from_bx h5{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.from_bx h5 a{
    text-decoration: none;
    font-size: 0.8rem;
    color: #039be4;
    transition: .3s linear;
}
.from_bx h5 a:hover{
    color: #0346b0;
}

@media (max-width: 382px){
    .from_bx{
        width: 270px;
    }
}