* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(53, 47, 47);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 1rem auto 0;
}

.container .inputWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .inputWrap input {
    border: 1px solid rgb(130, 123, 123);
    width: 48rem;
}

.container input {
    padding: 0.8rem;
    border: 1px solid rgb(130, 123, 123);
    font-size: 1rem;
    background: black;
    color: white;
}

.btn {
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease-in;
}


.btn-secondary:hover {
    background: red;
    color: var(--dark);
}

.btn-secondary {
    background-color: transparent;
    border-color: wheat;
    color: white;
}

#videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#videos iframe {
    width: 20rem;
    margin: 1rem 2rem;
    height: 15rem;
}

/* Responsive from here */
@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width:1024px) {
    #videos {
        display: block;
    }

    #videos iframe {
        width: 48rem;
        margin: 2rem -1rem;
        height: 26rem;
    }

    .container input {
        font-size: 2.2rem;

    }

    .btn {
        margin-left: 9px;
        font-size: 2rem;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }

}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1152px;
    }
}